<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'todo/base.html' %}
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
{% block content %}
<body data-ng-app="toDo" data-ng-controller="toDoController">
<h2>To Do List:</h2>

<form data-ng-submit="todoAdd()">
    {% csrf_token %}
    <input type="text" data-ng-model="todoInput" placeholder="add task">
    <button type="submit" data-ng-click="saveData()">Add</button>
</form>
<br>
<div data-ng-repeat="todo in todoList">
    <input type="checkbox" data-ng-model="todo.Done"><span data-ng-bind="todo.todoTask"></span>
</div>
<p>
    <button type="submit" data-ng-click="remove()">Done</button>
</p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="{% static 'js/todo.js' %}"></script>

<div class="container">
    <a href="{% url 'logout' %}">Logout</a>
</div>
</body>
{% endblock %}
</html>