<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'todo/base.html' %}
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="container">
                <div class="col d-flex justify-content-center">
                    <h4>Login</h4>
                </div>
            </div>
            <form method="post">
            {% csrf_token %}
            <p>Email: {{form.username}}</p>
            <p>Password: {{form.password}}</p>
            <button type="submit">Login</button>
            <br>
            <h5>Not registered?</h5>
            <a href="{% url 'register' %}">Register</a>
        </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
</body>
</html>

